streamlit
pandas
plotly
sqlalchemy
requests
python-dotenv
google-generativeai>=0.8.0
python-dotenv
requests
beautifulsoup4
prophet
scikit-learn
google-api-python-client
google-auth
google-analytics-data